Question_1
 Create a variable age and assign it the value 25 .
 Then print the value of age along with its data type using the type() function.

In [1]:
age = 25
print(age)
type(age)

25

int

Question_2
 Assign the number 12.5 to a variable data type. Then assign the value price .
 Print both the variable and its 12 to the same variable and print its data type again. What do you observe?

In [2]:
vp=12.5
print(vp)
type(vp)
vp=12
print(vp)
type(vp)

12.5
12

int

Question_3
 Create a variable is_raining and set it to True . Print the value of the variable along with its type.
 Then set is_raining to False and print the new value and type.

In [3]:
is_raining = True
print(is_raining)
type(is_raining)

is_raining = False
print(is_raining)
type(is_raining)

True
False

bool

Question_4
 Create a variable my_name and store your full name in it as a string.
 Then print the value of my_name using single quotes

In [4]:
my_name = "Gaurav Abasaheb Shinde"
print(f"{my_name}")

Gaurav Abasaheb Shinde

Question_5
 Write a Python program that asks the user for their name and age using the input() function.
 Store the inputs in variables and print a sentence like "Hello, [Name]! You are [Age] years old." Ensure you cast the age to an integer.

In [5]:
n = input("enter your name")
m = int(input("enter your age"))

print(f"Hello {n} ! You are {m} years old")

enter your name Gaurav Shinde
enter your age 20

Hello Gaurav Shinde ! You are 20 years old

Question_6
 Create two variables x and y and assign them the values 10 and 3.5 , respectively.
 Print their values and types. Then, create a new variable sum_xy and store the sum of x and y. Print the result and its type.

In [6]:
x = 10
y = 3.5

print(x,type(x))
print(y,type(y))

sum_xy = x + y
print(sum_xy,type(sum_xy))

10 <class 'int'>
3.5 <class 'float'>
13.5 <class 'float'>

Question_7
 Using the type() function, check and print the data type of the following:
  45.0
 "hello"
  None
  1
  False

In [7]:
print(type(45.0))
print(type("hello"))
print(type(None))
print(type(1))
print(type(False))

<class 'float'>
<class 'str'>
<class 'NoneType'>
<class 'int'>
<class 'bool'>

Question_8
 Write a Python program to print three strings "apple" , "banana" , and "cherry" 
 on the same line, separated by a space. Then modify the program to separate the strings using a comma , instead of a space.

In [8]:
A = "apple"
B = "banana"
C = "cherry"

print(A,B,C, end = " ")
print(end = "\n")
print(A,B,C, sep = ",")

apple banana cherry
apple,banana,cherry

Question_9
 Create a variable big_number and assign it a very large integer value (e.g., 987654321987654321 ). Print the value and its type.
 What do you notice about the size of the number?

In [10]:
big_number = 987654321987654321
print(type(big_number))

<class 'int'>

Question_10
 Write a Python program that prints the result of multiplying two floats (e.g., 2.5 and 3.7 ).
 Then check and print the data type of the result.

In [11]:
result = 2.5*3.7
print(type(result))

<class 'float'>