1. Year List Creation

Create a list years_list that includes the year of your birth and the next five years (total 6 years).

In [2]:
birth_year = 2000 
years_list = []

for i in range(6):
    years_list.append(birth_year + i)

print(years_list)

[2000, 2001, 2002, 2003, 2004, 2005]

2. Third Birthday Year

 Print the year in years_list when you were 3 years old.
 Hint: Remember, your 0th year is the first item.

In [3]:
birth_year = 1995 
years_list = [birth_year + i for i in range(6)]

year_at_age_3 = birth_year + 3
print("The year when I was 3 years old:", year_at_age_3)

The year when I was 3 years old: 1998

 3. Oldest Year

 Which year in years_list represents the most recent (your oldest age)?

In [5]:
birth_year = 1995  
years_list = [birth_year + i for i in range(6)]

most_recent_year = years_list[-1]
print("The most recent year (oldest age):", most_recent_year)

The most recent year (oldest age): 2000

 4. List of Things

 Create a list called things with the following items: ["mozzarella", "cinderella", "salmonella"]

In [6]:
things = ["mozzarella", "cinderella", "salmonella"]
print(things)

['mozzarella', 'cinderella', 'salmonella']

 5. Capitalization Check

 Capitalize the item that refers to a person in the things list. Print the list. Did the original list change?

In [7]:
things = ["mozzarella", "cinderella", "salmonella"]
things[1] = things[1].capitalize()
print("Updated list:", things)

Updated list: ['mozzarella', 'Cinderella', 'salmonella']

 6. Surprise List

 Create a list called surprise_list with these values: ["Groucho", "Chico", "Harpo"]

In [8]:
surprise_list = ["Groucho", "Chico", "Harpo"]
print(surprise_list)

['Groucho', 'Chico', 'Harpo']

 7. String Transformation

 Take the last item in surprise_list:

- Lowercase it
- Reverse it
- Capitalize the result

Then print it.

In [9]:
surprise_list = ["Groucho", "Chico", "Harpo"]
last_item = surprise_list[-1]
transformed = last_item.lower()[::-1].capitalize()
print(transformed)

Oprah

 8. English-to-French Dictionary

 Create a dictionary e2f that maps these:

- dog → chien
- cat → chat
- walrus → morse

Print the dictionary.

In [1]:
e2f = {
    'dog': 'chien',
    'cat': 'chat',
    'walrus': 'morse'
}

In [2]:
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

 9. Translate 'walrus' to French

 Use e2f to print the French word for “walrus.”

In [3]:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

print(e2f["walrus"])

morse

 10. Reverse Dictionary

 Create a reverse dictionary f2e from e2f using the .items() method. Print f2e.

In [4]:
f2e = {}
for english, french in e2f.items():
    f2e[french] = english

print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

 11. Translate 'chien' to English

 Use f2e to print the English word for “chien.”

In [7]:
f2e = {
    "chien": "dog",
    "chat": "cat",
    "morse": "walrus"
}

print(f2e["chien"])

dog

 12. Get All English Words

 Print the set of all English words (the keys from e2f).

In [8]:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

print(set(e2f.keys()))

{'walrus', 'dog', 'cat'}

 13. Create a Nested Dictionary (life)

 Create a dictionary life structured like this: {

'animals': { 'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {} }, 'plants': {}, 'other': {} }

In [9]:
life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

In [10]:
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

 14. Top-Level Keys

 Print the top-level keys of life.

In [11]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

 15. Animal Categories

 Print the list of cat names stored in life['animals']['cats'].

In [12]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']

 16. List of Cat Names

 Print the list of cat names stored in life['animals']['cats'].

In [14]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']